# Repaso de estructuras básicas de programación

## Sintaxis y control de flujo

In [4]:
1+1

2

In [5]:
a = 1
b = 3.14

In [8]:
print(a)
print(b)

1
3.14

In [9]:
a

1

### if - else

In [13]:
condicion = 20

if(condicion == 1) :
    print("Flujo 1")
elif(condicion == 2) :
    print("Flujo 2")
elif(condicion == 3) :
    print("Flujo 3")
else :
    print("Flujo 4")

Flujo 4

### bucle/ciclo

In [14]:
contador = 0

while(contador < 5) :
    print(contador)
    contador = contador + 1

0
1
2
3
4

In [16]:
for contador in range(5) :
    if(contador%2 == 0):
        print(contador)

0
2
4

## Operadores

### Matemáticos

In [17]:
a = 2
b = 3

In [18]:
a+b

5

In [19]:
a-b

-1

In [20]:
a*b

6

In [26]:
a/b

0.6666666666666666

In [22]:
a**b # Potencia

8

In [23]:
a%b # Residuo de a/b

2

### Booleanos

In [24]:
a = 2
b = 3

In [27]:
a == b # Es igual a ____

False

In [28]:
a != b # Es diferente a _____

True

In [29]:
a < b # Menor que

True

In [30]:
a > b # Mayor que

False

In [31]:
a <= b # Menor o igual que

True

In [32]:
a >= b # Mayor o igual que

False

## Hilos

In [33]:
hilo1 = "Un ejemplo de hilo."

In [34]:
print(hilo1)

Un ejemplo de hilo.

In [35]:
hilo2 = "Otro ejemplo de hilo."
print(hilo2)

Otro ejemplo de hilo.

In [37]:
hilo1 + " " + hilo2

'Un ejemplo de hilo. Otro ejemplo de hilo.'

In [39]:
a = 2
str(a)

'2'

In [41]:
print("El valor de a es " + str(a))

El valor de a es 2

## Listas

In [42]:
a = [1, 2, 3]
b = [4, 5, 6]

In [49]:
print(a)

[1, 2, 3, 4]

In [44]:
print(b)

[4, 5, 6]

In [45]:
a + b

[1, 2, 3, 4, 5, 6]

In [46]:
a

[1, 2, 3]

In [47]:
a.append(4)
a

[1, 2, 3, 4]

In [48]:
a

[1, 2, 3, 4]

In [50]:
a.pop()

4

In [51]:
a

[1, 2, 3]

In [52]:
a.pop?

In [53]:
import numpy as np

a = [1, np.pi, "Hilo"]

In [54]:
a

[1, 3.141592653589793, 'Hilo']

In [55]:
a[0]

1

In [56]:
a[2]

'Hilo'

In [57]:
a

[1, 3.141592653589793, 'Hilo']

In [58]:
a[-1]

'Hilo'

In [59]:
a.pop(1)

3.141592653589793

In [60]:
a

[1, 'Hilo']

In [61]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
for elemento in a :
    if elemento == 5 :
        print("Hay un 5.")

Hay un 5.

In [63]:
5 in a

True

## Diccionarios

In [64]:
d = {0 : "Elemento con llave cero.",
     1 : "Elemento con llave uno."}

In [65]:
d

{0: 'Elemento con llave cero.', 1: 'Elemento con llave uno.'}

In [66]:
d[0]

'Elemento con llave cero.'

In [67]:
d = {0 : "Elemento con llave cero.",
     1 : "Elemento con llave uno.",
     "llave" : np.pi}

In [68]:
d["llave"]

3.141592653589793

In [69]:
gabriel = {"apellido" : "Morales",
           "edad" : 27}

In [71]:
gabriel["apellido"]

'Morales'

## Funciones

In [72]:
def funcion() :
    print("Paso 1")
    print("Paso 2")
    print("Paso 3")

In [73]:
funcion()

Paso 1
Paso 2
Paso 3

In [74]:
def funcion_con_parametros(a, b, c) :
    print(a)
    print(b)
    print(c)

In [78]:
funcion_con_parametros(5, 10, 15)

5
10
15

In [80]:
def funcion_con_parametros_predefinidos(b=100) :
    print(b)

In [81]:
funcion_con_parametros_predefinidos()

100

In [82]:
funcion_con_parametros_predefinidos(50)

50

## Lectura rápida de archivos

In [83]:
import pandas as pd

In [84]:
pd.read_excel?

In [85]:
data = pd.read_excel("datosPE.xlsx")

In [86]:
data # clase del objeto = dataframe

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [87]:
data.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [88]:
data["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [89]:
data.head(10)

   ID Persona  Peso  Estatura
0           1    67      1.41
1           2    99      1.83
2           3    86      1.90
3           4   118      1.65
4           5   109      1.67
5           6    81      1.66
6           7    74      1.64
7           8    69      1.70
8           9    51      1.67
9          10   104      1.56

In [90]:
data.tail(10)

    ID Persona  Peso  Estatura
90          91    87      1.88
91          92    98      1.53
92          93   104      1.92
93          94   112      1.65
94          95    56      1.70
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

In [91]:
data["Estatura"].mean()

1.6610999999999998

In [92]:
data["Peso"].sum()

8558

In [93]:
data["Peso en libras"] = data["Peso"]*2.205

In [94]:
data

    ID Persona  Peso  Estatura  Peso en libras
0            1    67      1.41         147.735
1            2    99      1.83         218.295
2            3    86      1.90         189.630
3            4   118      1.65         260.190
4            5   109      1.67         240.345
..         ...   ...       ...             ...
95          96    88      1.49         194.040
96          97    98      1.54         216.090
97          98    95      1.57         209.475
98          99    61      1.61         134.505
99         100   107      1.62         235.935

[100 rows x 4 columns]

In [95]:
data.to_excel("ejemplo_con_libras.xlsx")

In [96]:
len([1, 2, 3])

3