# Estructuras básicas de progrmación

### Sintáxis y control de flujo

In [3]:
#Una linea por comando
2+5

7

In [4]:
a = 1
print(a)

1

In [5]:
#También se puede poner la pura variable y se imprimirá
a

1

### If - else

In [6]:
condición = False

if(condición == True) :
    print("Flujo 1")
else :
    print("Flujo 2")

Flujo 2

In [7]:
condición = 4

if(condición == 1) :
    print("Flujo 1")
elif(condición == 2) :
    print("Flujo 2")
else :
    print("Flujo 3")

Flujo 3

### Ciclos

In [8]:
contador = 0

while(contador < 5) :
    print(contador)
    contador = contador + 1
    
#basado en condición

0
1
2
3
4

In [9]:
for contador in range(5) :
    print(contador)
    
#basado en lista

0
1
2
3
4

### Operadores

In [10]:
#módulo
# %
#regresa el residuo de una división

### Booleanos

In [11]:
b = 2
c = 3

In [12]:
b == c 
#es igual

False

In [13]:
b != c
#es distinto

True

In [14]:
# <
# >
# <= etc

### Hilos

In [15]:
hilo1 = "asdfg"

In [16]:
print(hilo1)

asdfg

In [17]:
hilo2 = "hjkl"

In [18]:
hilo1 + hilo2

'asdfghjkl'

In [19]:
a = 2
str(a)
# y de ahí ya se puede concatenar un número

'2'

### Listas

In [20]:
# una lista es un objeto en donde puedes guardar distintos tipos de objetos en ella
a = [1, 2, 3, 4, 5, 6]

In [21]:
b = [7, 8, 9]

In [22]:
a

[1, 2, 3, 4, 5, 6]

In [23]:
a + b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
a.append(25)
a

[1, 2, 3, 4, 5, 6, 25]

In [25]:
a.pop() 
# quita el último número default, o poner el indice de la lista

25

In [26]:
a

[1, 2, 3, 4, 5, 6]

In [27]:
a[3]

4

In [28]:
for elemento in a :
    if elemento == 5 :
        print("hay un 5")

hay un 5

### Diccionario

In [29]:
d = {0 : "Elemento con llave cero",
    1 : "Elemento con llave 1"}
# puedes llamar el objeto que quieras del diccionario por medio de llaves, que son lo de la izquierda de los dos puntos

In [30]:
d

{0: 'Elemento con llave cero', 1: 'Elemento con llave 1'}

In [31]:
d[1]

'Elemento con llave 1'

### Funciones

In [32]:
def funcion() :
    print("paso 1")
    print("paso 2")

In [33]:
funcion()

paso 1
paso 2

In [34]:
def parametros(a,b,c) :
    print(a)
    print(b)
    print(c)

In [35]:
parametros("erw", "rewgf", "yteh")

erw
rewgf
yteh

In [36]:
def parametros_predefinidos(n=34) :
    print(n)

In [37]:
parametros_predefinidos()

34

In [38]:
parametros_predefinidos(67)

67

In [39]:
import pandas as pd

In [40]:
data = pd.read_excel("datosPE.xlsx")
#se convierte en dataframe

In [41]:
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [42]:
data.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [43]:
data["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [44]:
data.head(10)
#tambien existe .tail

   ID Persona  Peso  Estatura
0           1    67      1.41
1           2    99      1.83
2           3    86      1.90
3           4   118      1.65
4           5   109      1.67
5           6    81      1.66
6           7    74      1.64
7           8    69      1.70
8           9    51      1.67
9          10   104      1.56

In [45]:
data["Estatura"].mean()

1.6610999999999998

In [46]:
data["Peso"].sum()

8558

In [47]:
data["Peso en libras"] = data["Peso"]*2.205

In [48]:
data.to_excel("ejemplo_con_libras.xlsx")